
.body__hidden {
    overflow: hidden !important;
}
.video-wrapper  {
    position: relative;
    width: 100%;
    height: 100%;
    background: #000;
    overflow: hidden !important;
    -webkit-transform: translate3d(0,0,0);
            transform: translate3d(0,0,0);
}
.video-wrapper__fullscreen  {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 99999999999;
}
.video-wrapper > video {
    display: block;
    width: 100%;
    height: 100%;
    outline: 0 !important;
}

.video-control {
    position: absolute;
    bottom: -40px;
    left: 0;
    right: 0;
    width: 100%;
    height: 30px;
    z-index: 888;
    padding-top: 10px;
    background: url(__sprite) 0 -190px;
    _padding-top: 7px;
    _background-position: 0 -195px;
}

.video-volume,
.video-expand {
    float: right;
}
.video-control-play {
    float: left;
    overflow: hidden;
    padding: 8px 10px 7px 20px;
}

.video-control-play-btn:hover,
.video-volume-btn:hover,
.video-expand-btn:hover {
    opacity: .8;
    filter: alpha(opacity=80);
}
.video-control-play-btn {
    width: 14px;
    height: 15px;
    background: url(__sprite)  no-repeat;
}
    .video-control-play-btn__paused {
        background-position: -20px -20px;
    }
    .video-control-play-btn__playing {
        background-position: -40px -20px;
    }

.video-expand {
    padding: 7px 20px 7px 16px;
}
    .video-expand-btn {
        width: 18px;
        height: 16px;
    }
        .video-expand-btn__normal  {
            background: url(__sprite) -60px -20px no-repeat;
        }
        /*.video-expand-btn__expanded {}*/

.video-volume {
    padding: 7px 2px 7px 0;
}
    .video-volume-btn {
        display: block;
        width: 19px;
        height: 16px;
        background: url(__sprite) 0 0 no-repeat;
    }
    .video-volume-btn__muted {
        background-position: 0 0;
    }
    .video-volume-btn__1 {
        background-position: -20px 0;
    }
    .video-volume-btn__2 {
        background-position: -40px 0;
    }
    .video-volume-btn__3  {
        background-position: -60px 0;
    }

.video-volume-ctrl {
    float: right;
    width: 30%;
    max-width: 60px;
    min-width: 40px;
    height: 30px;
    position: relative;
}
    .volume-total {
        position: absolute;
        left: 0;
        right: 0;
        top: 14px;
        height: 2px;
        background-color: #fff;
    }
        .volume-cur {
            float: left;
            height: 2px;
            width: 0;
            background-color: #fff;
        }
        .volume-ctrl {
            position: absolute;
            left: 0;
            top: -5px;
            width: 12px;
            height: 12px;
            background: url(__sprite) 0 -20px no-repeat;
        }

.vplayer-poster,
.vplayer-poster img  {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
}

.vplayer-loading,
.vplayer-play-btn {
    width: 70px;
    height: 70px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -35px;
    margin-left: -35px;
    cursor: pointer;
    z-index: 1000;
}
.vplayer-play-btn {
    background: url(__sprite) 0 -40px no-repeat;
}
.vplayer-play-btn:hover {
    background-position: -80px -40px;
}
.vplayer-play-pause {
    background-position: 0 -120px!important;
}
.vplayer-play-pause:hover {
    opacity: .8;
    filter: alpha(opacity=80);
}

.flash-tip {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1111;
    background: #424242;
}
    .flash-tip a {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        height: 40px;
        line-height: 40px;
        text-align: center;
        color: #fff;
        overflow: hidden;
        text-overflow: ellipsis;
        margin: auto;
        text-decoration: none;
    }